<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/">Tivix B</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <!-- creating a post -->
            <li class="active"><a href="{%url 'blog_form' %}">create a post</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
